 <table class="table table-bordered table-hover table-striped">
                                
                                <tbody>
                     
                                
                     <input type="hidden" class="form-control" name="product_type" value="0"  >
                     <input type="hidden" class="form-control" name="product_status" value="1"  >
                                    <tr>
                                        <td>Title </td>
                                        <td> <input type="text" class="form-control" name="product_title" value="<%- data.product_title %>"  ></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Sub Title </td>
                                        <td> <input type="text" class="form-control" name="product_subtitle" value="<%- data.product_subtitle %>" ></td>
                                        
                                    </tr><tr>
                                        <td>Description</td>
                                        <td> <input type="text" class="form-control" name="product_description" value="<%- data.product_description %>" ></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Sub Description</td>
                                        <td> <input type="text" class="form-control" name="product_subdescription" value="<%- data.product_subdescription %>" ></td>
                                        
                                    </tr>
                                    <tr>
                                        <td> Price </td>
                                        <td> <input type="text" class="form-control" name="product_price" value="<%- data.product_price %>" ></td>
                                        
                                    </tr>
                                    <tr>
                                        <td> Discount  </td>
                                        <td> <input type="text" class="form-control" name="product_discount" value="<%- data.product_discount %>" ></td>
                                        
                                    </tr>
                                    
                              <tr>
                                        <td>   </td>
                                        <td> <button type="submit" class="btn btn-primary"> <%= buttonName %>   </button> </td>
                                        
                                    </tr>
                                    
                                </tbody>
                            </table>