
<% include ../header %>    

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <% include ../menu %>            


        <div id="page-wrapper">

            <div class="container-fluid">



                <div class="row top-heading">
                    <div class="col-lg-12">
                        <h3 class="page-header">
                            SELL  <small>  </small>
                        </h3>


              <!--          <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Sell
                            </li>
                        </ol>  -->

                    </div>



                </div>
                <br>
                <div class="row ">


                    <div class="col-lg-12 " id="message">

                    </div>


                    <div class="col-lg-12 panel" >
                        <div class="col-lg-9 " >
                        <h3> Sell Your Coin  </h3>
                        <form  id="cform">
                            <!-- /.row -->
                            <table class="table table-bordered table-hover table-striped ">

                                <tbody>



                                    <tr>
                                        <td> No Of Coin Transferred </td>
                                        <td> <input type="text" class="form-control" name="no_of_cointransferred"  id="no_of_cointransferred"  >

                                        </td>
                                        <td> Tax </td>
                                        <td> 
                                            <input type="text" class="form-control"  value="0" disabled="" id="tax"  >
                                        </td>

                                    </tr>

                                    <tr>
                                        <td> Amount in $  </td>
                                        <td> <input type="text" class="form-control"  value="" id="amount" name="amount" ></td>
                                        <td> Fee </td>
                                        <td> <input type="text" class="form-control"  value="0" disabled="" id="fee"  ></td>

                                    </tr>

                                    <tr>
                                        <td> Total  </td>
                                        <td> <input type="text" class="form-control"  value="" id="total" name="total"  ></td>
                                        <td> Transation Password </td>
                                        <td> <input type="password" class="form-control"  value="" name="tran_pass" id="tran_pass"  ></td>
                                    </tr>



                                    <tr>
                                        <td>   </td>
                                        <td> <button type="submit" class="btn btn-primary"> Withdraw   </button> </td>


                                    </tr>

                                </tbody>
                            </table>
                        </form>
                    </div>
                       <div class="col-lg-3">
                        <div class="panel row">
                            <div class="col-lg-12">
                                <h3> Balance </h3>
                                
                                <hr>
                            </div>
                            
                            <div class="col-lg-12 text-right">
                                <span> Balance <span> <br> 
                                        <b> $ <%= balance %> </b>
                                <hr>
                            </div>
       <!--                      <hr>
                             <div class="col-lg-12 text-right">
                                <span> Current Weekly Pay In <span> <br> 
                                        <b style="color: #0a8461"> 6.60 EUR </b>
                                <hr>
                            </div>
                            <hr>
                              <div class="col-lg-12 text-right">
                                <span> Current Weekly Pay Out <span> <br> 
                                        <b style="color: #ef4036"> 6.60 EUR </b>
                                
                            </div>
                            <hr>-->
                            
                        </div>
                        
                    </div>
                    </div>

                </div>

                <!-- /.row -->

                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <% include ../footer %>  

</body>

</html>


<script>
    $(document).ready(function () {




        $("#no_of_cointransferred").keyup(function () {
            var no_of_cointransferred = $("#no_of_cointransferred").val();
            var tax = $("#tax").val();
            var fee = $("#fee").val();
                    var perCoinAmount =" <%- data[0].coin_current_base_price %>" ;
                    var amount = no_of_cointransferred * perCoinAmount;
            $("#amount").val(amount);
            var total = no_of_cointransferred * perCoinAmount + parseInt(fee) + parseInt(tax);
            $("#total").val(total);



        })


        $("#amount").keyup(function () {
            var no_of_cointransferred = $("#no_of_cointransferred").val();
            var amount = $("#amount").val();
            var tax = $("#tax").val();
            var fee = $("#fee").val();
                    var perCoinAmount =" <%- data[0].coin_current_base_price %>";
                    var amount = amount / perCoinAmount;
            $("#no_of_cointransferred").val(amount);
            var total = no_of_cointransferred * perCoinAmount - parseInt(fee) - parseInt(tax);
            $("#total").val(total);



        })


        $("#cform").validate({
            rules: {
                no_of_cointransferred: {
                    required: true,
                    number: true
                },
                 name: {
                    required: true,
                    number: true
                },
                 total: {
                    required: true,
                    number: true
                },
                tran_pass: {
                    required: true
                }

            },
            submitHandler: function () {


                var no_of_cointransferred = $("[name='no_of_cointransferred']").val();
                var tran_pass = $("[name='tran_pass']").val();


                var jsonData = {
                    "user_id": "<%- userId %>",
                    "user_type": "1",
                    "no_of_cointransferred": no_of_cointransferred,
                    "transaction_type": "2",
                    "transaction_status": "1",
                    "tran_pass":tran_pass
                }



                //    var jsonData = JSON.stringify(jsonData);

                $.ajax
                        ({
                            type: "POST",
                            url: "/users/withdrawn",
                            dataType: 'json',
                            async: false,
                            headers: {
                                "Authorization": "<%- authorization %>",
                                'Content-Type': 'application/x-www-form-urlencoded'
                            },
                            data: jsonData,
                            success: function (data) {
//                                alert('Thanks for your comment!');

                                if (data.data.code == 200) {
                                    $("[name='to_user_id']").val("");
                                    $("[name='no_of_cointransferred']").val("");
                                    $("#message").html('<div class="alert alert-success">\n\
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>\n\
<i class="fa fa-info-circle"></i> \n\
 <strong id="message"> ' + JSON.stringify(data.data.message) + ' </strong></div>');




                                } else {
                                    $("#message").html('<div class="alert alert-danger">\n\
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>\n\
<i class="fa fa-info-circle"></i> \n\
 <strong id="message"> ' + JSON.stringify(data.data.message) + ' </strong></div>');

                                }


                                return false;
                            }
                        });





            }
        });
    });
</script>

