
<% include header %>    

<body>

    <div id="wrapper">

        <!-- Navigation -->
<% include menu %>            
        

        <div id="page-wrapper">

            <div class="container-fluid">

               
                
                  <div class="row top-heading">
                    <div class="col-lg-12">
                        <h3 class="page-header">
                           MY PROFILE  <small>  </small>
                        </h3>


                     <!--   <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i>My Profile
                            </li>
                        </ol> -->

                    </div>



                </div>
              

                <br>
                <div class="row panel"> 
                    <br>
                    <div class="col-lg-12">
                        <a href="/users/editProfile" >    <span class="btn btn-info pull-right"> Edit Profile </span> </a>
                        
                    </div>
                    
                  <div class="col-lg-12">
                       <h3> Personal Details </h3>
                      <br>
                <table class="table table-bordered table-hover table-striped">
                                
                                <tbody>

                                    <tr>
                                        <td style="width: 25%;">Name </td>
                                        <td>  <%- data[0].first_name+" "+data[0].last_name %> </td>
                                        
                                    </tr>
                                    <tr>
                                        <td style="width: 25%;"> Email </td>
                                        <td>  <%- data[0].email %> </td>
                                        
                                    </tr>
                                    
                                    <tr>
                                        <td style="width: 25%;"> Mobile </td>
                                        <td>  <%- data[0].mobilenumber %> </td>
                                        
                                    </tr>
                                    
                                    
                                    <tr>
                                        <td style="width: 25%;">Country </td>
                                        <td>  <%- data[0].country %> </td>
                                        
                                    </tr>
                                    <tr>
                                        <td style="width: 25%;">City </td>
                                        <td>  <%- data[0].city %> </td>
                                        
                                    </tr>
                                    <tr>
                                        <td style="width: 25%;">Pincode </td>
                                        
                                        <td>  <%- data[0].Pincode %> </td>
                                        
                                    </tr>
                                    
                                    
                                </tbody>
                            </table>
                      
                      
                      <h3> ID Proof Details </h3>
                      
                      
                      <table class="table table-bordered table-hover table-striped">
                                
                                <tbody>

                                    <tr>
                                        <td style="width: 25%;">Id Proof Expirydate </td>
                                        <td>  <%- data[0].idproof_expirydate %> </td>
                                        
                                    </tr>
                                    <tr>
                                        <td style="width: 25%;"> Id Proof Number </td>
                                        <td>  <%- data[0].idproof_number %> </td>
                                        
                                    </tr>
                                    
                                    
                                    
                                </tbody>
                            </table>
                      
                       <h3> Bank Details </h3>
                      
                      
                      <table class="table table-bordered table-hover table-striped">
                                
                                <tbody>

                                    <tr>
                                        <td style="width: 25%;">Account Holder Name </td>
                                        <td>  <%- data[0].bankaccount_holdername %> </td>
                                        
                                    </tr>
                                    <tr>
                                        <td style="width: 25%;"> Account Number </td>
                                        <td>  <%- data[0].bankaccount_number %> </td>
                                        
                                    </tr>
                                    <tr>
                                        <td style="width: 25%;"> IFSC code </td>
                                        <td>  <%- data[0].bank_ifsccode %> </td>
                                        
                                    </tr>
                               
                                    
                                    
                                    
                                </tbody>
                            </table>
                       
                        <h3> KYC  </h3>
                        
                           <table class="table table-bordered table-hover table-striped">
                                
                                <tbody>

                                    <tr>
                                        <td> <h4> Profile Photo </h4> </td>
                                        <td> <h4> ID Scan Copy ( PAN / Aathar  ) </h4>  </td>
                                        
                                    </tr>
                                    <tr>
                                        <td width="50%"> 
                                      
                                        
                                        <% if(typeof data[0].image_url1!="undefined" && data[0].image_url1!="" ) { %>
                                        <img src="<%- data[0].image_url1 %>" width="50%" /> 
                                            
                                            <% } else { %>
                                                <img src="/images/kyc1.jpg" width="25%" /> 
                                            <% } %>
                                        
                                        
                                        </td>
                                        <td width="50%"> 
                                            <% if(typeof data[0].image_url2!="undefined" && data[0].image_url2!="" ) { %>
                                        <img src="<%- data[0].image_url2 %>" width="50%" /> 
                                            
                                            <% } else { %>
                                                <img src="/images/kyc1.jpg" width="25%" /> 
                                            <% } %>
                                        
                                        </td>
                                        
                                    </tr>
                                
                               
                                    
                                    
                                    
                                </tbody>
                            </table>
                      
                  </div>
                
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <% include footer %>  

</body>

</html>
